# Entornos / secretos
.env
.env.local
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.eggs/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/
